.pagination-warp {
  //width: 600px;
}

.pagination-num {
  max-width: 120px;
  margin: 0 auto;
}

.pagination-warp button,
.pagination-warp .pagination-previous,
.pagination-warp .pagination-next
{
  //width: 100%;
  font-size: .9rem;
}

.pagination-warp .btn {
  padding: 9px 22px;
}

.pagination-warp .pagination-right {
  float: right;
}

.btn-outline-primary {
  background: 0 0;
  border: 2px solid #51cbce !important;
  color: #51cbce;
  opacity: 1;
  filter: alpha(opacity=100)
}

.btn-outline-primary.active, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary:focus:active, .btn-outline-primary:hover, .open > .btn-outline-primary.dropdown-toggle {
  background-color: #51cbce !important;
  color: hsla(0, 0%, 100%, .8) !important;
  border-color: #51cbce !important
}

.btn-outline-primary.active .caret, .btn-outline-primary:active .caret, .btn-outline-primary:focus .caret, .btn-outline-primary:focus:active .caret, .btn-outline-primary:hover .caret, .open > .btn-outline-primary.dropdown-toggle .caret {
  border-top-color: hsla(0, 0%, 100%, .8) !important
}

.btn-outline-primary .caret {
  border-top-color: #fff !important
}

.btn-outline-primary.disabled, .btn-outline-primary.disabled.active, .btn-outline-primary.disabled.focus, .btn-outline-primary.disabled:active, .btn-outline-primary.disabled:focus, .btn-outline-primary.disabled:hover, .btn-outline-primary:disabled, .btn-outline-primary:disabled.active, .btn-outline-primary:disabled.focus, .btn-outline-primary:disabled:active, .btn-outline-primary:disabled:focus, .btn-outline-primary:disabled:hover, .btn-outline-primary[disabled], .btn-outline-primary[disabled].active, .btn-outline-primary[disabled].focus, .btn-outline-primary[disabled]:active, .btn-outline-primary[disabled]:focus, .btn-outline-primary[disabled]:hover, fieldset[disabled] .btn-outline-primary, fieldset[disabled] .btn-outline-primary.active, fieldset[disabled] .btn-outline-primary.focus, fieldset[disabled] .btn-outline-primary:active, fieldset[disabled] .btn-outline-primary:focus, fieldset[disabled] .btn-outline-primary:hover {
  background-color: transparent !important;
  border-color: #51cbce !important
}
