
.css-1rhbuit-multiValue {
  background-color: rgb(230, 230, 230);
  border-radius: 2px;
  display: flex;
  margin: 2px;
  min-width: 0;
  box-sizing: border-box;
}

.react-select .react-select__control .react-select__value-container--has-value .react-select__multi-value {
  display: -webkit-inline-flex;
  display: inline-flex;
  border-radius: 4px;
  background-color: initial;
}

.react-select.info .react-select__control .react-select__value-container--has-value .react-select__multi-value__label, .react-select.info .react-select__control .react-select__value-container--has-value .react-select__single-value {
  color: #51bcda;
}

.react-select .react-select__control .react-select__value-container--has-value .react-select__multi-value .react-select__multi-value__label {
  font-size: .9em;
}

.react-select.info .react-select__multi-value .react-select__multi-value__remove {
  color: rgba(44, 168, 255, .3);
  border-left: 1px solid rgba(44, 168, 255, .3);
}

.react-select .react-select__multi-value .react-select__multi-value__remove {
  position: relative;
  color: hsla(0, 0%, 87.1%, .8);
  border-left: 1px solid hsla(0, 0%, 87.1%, .8);
}

.css-xb97g8 {
  -webkit-box-align: center;
  align-items: center;
  border-radius: 2px;
  display: flex;
  padding-left: 4px;
  padding-right: 4px;
  box-sizing: border-box;
}

.css-12jo7m5 {
  border-radius: 2px;
  color: rgb(51, 51, 51);
  font-size: 85%;
  overflow: hidden;
  padding: 3px 3px 3px 6px;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.css-2b097c-container {
  position: relative;
  box-sizing: border-box;
}

.react-select-input {
  box-sizing: content-box;
  //width: 2px;
  width: 100%;
  background: 0 center;
  border: 0;
  //font-size: inherit;
  opacity: 1;
  outline: 0;
  padding: 0;
  color: inherit;
  cursor: default;
}

.react-select-div {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  height: 0;
  overflow: scroll;
  white-space: pre;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  text-transform: none;
}

.css-1g6gooi {
  margin: 2px;
  //padding-bottom: 2px;
  //padding-top: 2px;
  visibility: visible;
  color: rgb(51, 51, 51);
  box-sizing: border-box;
}

.css-1wa3eu0-placeholder {
  margin-left: 2px;
  margin-right: 2px;
  position: absolute;
  transform: translateY(-50%);
  box-sizing: border-box;
}

.css-1hwfws3 {
  -webkit-box-align: center;
  align-items: center;
  flex: 1 1 0;
  flex-wrap: wrap;
  padding: 4px 8px;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

//.css-7pg0cj-a11yText {
//  z-index: 9999;
//  border: 0px;
//  clip: rect(1px,1px,1px,1px);
//  height: 1px;
//  width: 1px;
//  position: absolute;
//  overflow: hidden;
//  padding: 0px;
//  white-space: nowrap;
//}

.react-select .react-select__menu {
  top: 105%;
  max-width: 94%;
  width: 94%;
  right: 3%;
  border-radius: 12px;
  border: 0;
  box-shadow: 1px 2px 7px 1px rgba(0, 0, 0, .125);
  transition: all .3s cubic-bezier(.215, .61, .355, 1) 0s, opacity .3s ease 0s, height 0s linear .35s;
  background-color: #fff;
  box-sizing: border-box;
  max-height: 200px;
  position: absolute;
  z-index: 2;
  -webkit-overflow-scrolling: touch;
  padding-bottom: 10px;
  margin-bottom: unset;
  margin-top: unset;
}

.react-select .react-select__menu:before {
  border-bottom: 11px solid #f1eae0;
  top: -11px
}

.react-select .react-select__menu:after, .react-select .react-select__menu:before {
  border-left: 11px solid transparent;
  border-right: 11px solid transparent;
  content: "";
  display: inline-block;
  position: absolute;
  right: 15px
}

.react-select .react-select__menu:after {
  top: -10px;
  border-bottom: 11px solid #fffcf5
}

.react-select .react-select__menu-list {
  max-height: 198px;
  overflow-y: auto;
  padding-bottom: unset;
  padding-top: unset;
  position: relative
}

.react-select .react-select__option {
  font-size: .8571em;
  margin-top: 5px;
  transition: all .15s linear;
  padding: .6rem 1.5rem;
  display: block;
  outline: none;
  color: #292b2c;
  cursor: pointer;
}

.react-select .react-select__menu .react-select__option, .react-select .react-select__menu .react-select__option:active {
  background-color: initial
}

.react-select .react-select__menu .react-select__option.react-select__option--is-selected, .react-select .react-select__menu .react-select__option.react-select__option--is-selected.react-select__option--is-focused, .react-select .react-select__menu .react-select__option.react-select__option--is-selected.react-select__option--is-focused:active, .react-select .react-select__menu .react-select__option.react-select__option--is-selected:active {
  background-color: #ddd
}

.react-select .react-select__menu .react-select__option.react-select__option--is-selected, .react-select .react-select__menu .react-select__option.react-select__option--is-selected.react-select__option--is-focused, .react-select .react-select__menu .react-select__option.react-select__option--is-selected.react-select__option--is-focused:active, .react-select .react-select__menu .react-select__option.react-select__option--is-selected:hover {
  background-color: #ddd
}

.react-select .react-select__menu .react-select__option.react-select__option--is-focused, .react-select .react-select__menu .react-select__option.react-select__option--is-focused:active {
  background-color: #f5f5f5
}

.react-select .react-select__menu .react-select__option:hover {
  background-color: #f5f5f5
}

.react-select .react-select__menu .react-select__option.react-select__option--is-disabled, .react-select .react-select__menu .react-select__option.react-select__option--is-disabled:active {
  color: #ccc;
  cursor: default
}

.react-select .react-select__control {
  border-radius: 4px;
  min-height: 40px;
  height: 40px;
  box-sizing: border-box;
  border-collapse: initial;
  display: table;
  width: 100%;
}

.react-select .react-select__control, .react-select .react-select__control:hover {
  border: 1px solid #e3e3e3;
  box-shadow: none;
  background-color: initial
}

.react-select .react-select__control.react-select__control--is-focused .react-select__dropdown-indicator:after {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  top: -4px
}

.react-select .react-select__control.react-select__control--is-focused, .react-select .react-select__control.react-select__control--is-focused:hover {
  border: 1px solid #51cbce;
  box-shadow: none
}

.react-select .react-select__control .react-select__value-container--has-value .react-select__multi-value {
  display: -webkit-inline-flex;
  display: inline-flex;
  border-radius: 4px;
  background-color: initial
}

.react-select .react-select__control .react-select__value-container--has-value .react-select__multi-value + div:not(.react-select__multi-value) {
  display: -webkit-inline-flex;
  display: inline-flex
}

.react-select .react-select__control .react-select__value-container--has-value .react-select__multi-value .react-select__multi-value__label {
  font-size: .9em
}

.react-select .react-select__control .react-select__value-container--has-value .react-select__single-value {
  top: 48%;
  color: #2c2c2c
}

.react-select .react-select__control .react-select__placeholder {
  color: #9a9a9a;
  line-height: normal;
  font-size: .85rem;
  top: 48%
}

.react-select .react-select__control .react-select__indicators, .react-select .react-select__control .react-select__value-container {
  display: table-cell
}

.react-select .react-select__control .react-select__indicators {
  width: 60px;
  padding-right: 10px;
  -webkit-align-items: flex-end;
  align-items: flex-end;
  vertical-align: middle;
  text-align: right
}

.react-select .react-select__control .react-select__indicators .react-select__indicator-separator {
  display: none
}

.react-select .react-select__control .react-select__indicators .react-select__indicator {
  padding: 0;
  display: inline-block
}

.react-select .react-select__control .react-select__indicators .react-select__dropdown-indicator:after {
  transition: all .15s ease 0s;
  border-color: #999 transparent transparent;
  border-style: solid;
  border-width: 5px 5px 2.5px;
  display: inline-block;
  height: 0;
  width: 0;
  position: relative;
  content: ""
}

.react-select .react-select__control .react-select__indicators .react-select__dropdown-indicator:hover:after {
  border-top-color: #666
}

.react-select .react-select__control .react-select__indicators .react-select__dropdown-indicator > * {
  display: none
}

.react-select .react-select__control .react-select__indicators .react-select__clear-indicator:before {
  content: "\D7";
  display: inline-block;
  font-size: 18px;
  line-height: 1;
  top: 2px;
  position: relative;
  margin-right: 3px
}

.react-select .react-select__control .react-select__indicators .react-select__clear-indicator > * {
  display: none
}

.react-select.primary .react-select__control.react-select__control--is-focused, .react-select.primary .react-select__control.react-select__control--is-focused:hover {
  border-color: #51cbce
}

.react-select.primary .react-select__control .react-select__value-container--has-value .react-select__multi-value__label, .react-select.primary .react-select__control .react-select__value-container--has-value .react-select__single-value {
  color: #51cbce
}

.react-select.primary .react-select__multi-value {
  border: 1px solid #51cbce
}

.react-select.primary .react-select__multi-value .react-select__multi-value__remove {
  color: rgba(44,168,255,.3);
  border-left: 1px solid rgba(44,168,255,.3);
}

.css-8mmkcg {
  display: inline-block;
  fill: currentcolor;
  line-height: 1;
  stroke: currentcolor;
  stroke-width: 0;
}

.react-select.primary .react-select__multi-value .react-select__multi-value__remove:hover {
  color: #51cbce;
  background-color: initial
}

.react-select.success .react-select__control.react-select__control--is-focused, .react-select.success .react-select__control.react-select__control--is-focused:hover {
  border-color: #6bd098
}

.react-select.success .react-select__control .react-select__value-container--has-value .react-select__multi-value__label, .react-select.success .react-select__control .react-select__value-container--has-value .react-select__single-value {
  color: #6bd098
}

.react-select.success .react-select__multi-value {
  border: 1px solid #6bd098
}

.react-select.success .react-select__multi-value .react-select__multi-value__remove {
  color: rgba(24, 206, 15, .3);
  border-left: 1px solid rgba(24, 206, 15, .3)
}

.react-select.success .react-select__multi-value .react-select__multi-value__remove:hover {
  color: #6bd098;
  background-color: initial
}

.react-select.info .react-select__control.react-select__control--is-focused, .react-select.info .react-select__control.react-select__control--is-focused:hover {
  border-color: #51bcda
}

.react-select.info .react-select__control .react-select__value-container--has-value .react-select__multi-value__label, .react-select.info .react-select__control .react-select__value-container--has-value .react-select__single-value {
  color: #51bcda
}

.react-select.info .react-select__multi-value {
  border: 1px solid #51bcda
}

.react-select.info .react-select__multi-value .react-select__multi-value__remove {
  color: rgba(44, 168, 255, .3);
  border-left: 1px solid rgba(44, 168, 255, .3)
}

.react-select.info .react-select__multi-value .react-select__multi-value__remove:hover {
  color: #51bcda;
  background-color: initial
}

.react-select.warning .react-select__control.react-select__control--is-focused, .react-select.warning .react-select__control.react-select__control--is-focused:hover {
  border-color: #fbc658
}

.react-select.warning .react-select__control .react-select__value-container--has-value .react-select__multi-value__label, .react-select.warning .react-select__control .react-select__value-container--has-value .react-select__single-value {
  color: #fbc658
}

.react-select.warning .react-select__multi-value {
  border: 1px solid #fbc658
}

.react-select.warning .react-select__multi-value .react-select__multi-value__remove {
  color: rgba(255, 178, 54, .3);
  border-left: 1px solid rgba(255, 178, 54, .3)
}

.react-select.warning .react-select__multi-value .react-select__multi-value__remove:hover {
  color: #fbc658;
  background-color: initial
}

.react-select.danger .react-select__control.react-select__control--is-focused, .react-select.danger .react-select__control.react-select__control--is-focused:hover {
  border-color: #ef8157
}

.react-select.danger .react-select__control .react-select__value-container--has-value .react-select__multi-value__label, .react-select.danger .react-select__control .react-select__value-container--has-value .react-select__single-value {
  color: #ef8157
}

.react-select.danger .react-select__multi-value {
  border: 1px solid #ef8157
}

.react-select.danger .react-select__multi-value .react-select__multi-value__remove {
  color: rgba(255, 54, 54, .3);
  border-left: 1px solid rgba(255, 54, 54, .3)
}

.react-select.danger .react-select__multi-value .react-select__multi-value__remove:hover {
  color: #ef8157;
  background-color: initial
}

.react-select .react-select__multi-value {
  border: 1px solid #9a9a9a
}

.react-select .react-select__multi-value .react-select__multi-value__remove {
  position: relative;
  color: hsla(0, 0%, 87.1%, .8);
  border-left: 1px solid hsla(0, 0%, 87.1%, .8)
}

.react-select .react-select__multi-value .react-select__multi-value__remove:hover {
  color: #9a9a9a;
  background-color: initial
}

.react-select.react-select--is-disabled .react-select__multi-value--is-disabled .react-select__multi-value__remove {
  display: none
}

.react-select.react-select--is-disabled .react-select__multi-value--is-disabled.react-select__multi-value {
  background-color: #fcfcfc;
  border: 1px solid #e3e3e3
}

.react-select.react-select--is-disabled .react-select__control--is-disabled {
  background-color: #f9f9f9
}
