/** {*/
/*  margin: 0;*/
/*  padding: 0;*/
/*}*/
@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");
@import url("https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css");
//@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
//@import '@sweetalert2/theme-bulma/bulma.scss';

input {
  font-size: 0.8rem;
  font-family: montserrat,helvetica neue,Arial,sans-serif !important;
  -webkit-font-smoothing: antialiased;
  box-shadow: none !important;
  //-webkit-text-size-adjust: 100%;
  //-webkit-tap-highlight-color: transparent;
}

html {
}

body {
  background-color: #f4f3ef;
}

.wrapper {
  position: relative;
  top: 0;
  height: 100vh;
  overflow-x: hidden
}

.content-view {
  margin: 1rem;
}

/// cover

.breadcrumb:not(:last-child) {
  margin-bottom: 1rem;
}

.table.is-narrow td, .table.is-narrow th {
  padding: 0.8em 0;
  vertical-align: middle;
}

.help.is-danger {
  color: #ef8157;
}

.input {
  border-color: #e3e3e3;
  font-size: .8rem;
}

///  cover

/// LOGIN
#login {
  width: 100%;
}

.setAsCenter {
  display: flex;
  justify-content: center; /* 水平居中 */
  align-items: center; /* 垂直居中 */
  height: 100vh; /* 100% 视窗高度 */
}

.background0 {
  //background-image: url('../img/af03f1be00119a525fcb310d6dabb2f0.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  /*background-position: center;*/
  background-attachment: fixed;
}

.login-header {
  width: 100%;
  font-size: 2em;
  line-height: 1.4em;
  margin-bottom: 30px;
  text-align: center;
}

/// LOGIN


/// card

.card-tim label {
  display: block;
  font-size: .85em;
  margin-bottom: 6px;
  color: #9a9a9a;
}

.card-tim {
  border-radius: 12px;
  box-shadow: 0 6px 10px -4px rgb(0 0 0 / 15%);
  background-color: #fff;
  color: #252422;
  //margin-bottom: 20px;
  padding: 1rem;
  position: relative;
  border: 0;
  transition: box-shadow .2s ease, -webkit-transform .3s cubic-bezier(.34, 2, .6, 1);
  transition: transform .3s cubic-bezier(.34, 2, .6, 1), box-shadow .2s ease;
  transition: transform .3s cubic-bezier(.34, 2, .6, 1), box-shadow .2s ease, -webkit-transform .3s cubic-bezier(.34, 2, .6, 1);
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
}

.card-tim .card-header:not([data-background-color]) {
  background-color: initial;
}

.card-tim .card-header {
  padding: 15px 15px 0;
  border: 0;
  box-shadow: none;
}

.card-header:first-child {
  border-radius: calc(0.25rem - 1px) calc(0.25rem - 1px) 0 0;
}

.card-tim .card-header .card-title {
  margin-top: 10px;
}

.card-title {
  margin-bottom: 0.75rem;
}

.card-tim .card-footer {
  background-color: initial;
  border: 0;
}

.card-footer:last-child {
  border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
}

.card-footer {
  padding: 0.75rem 1.25rem;
  background-color: rgba(0, 0, 0, .03);
  border-top: 1px solid rgba(0, 0, 0, .125);
}

.card-tim .card-body {
  padding: 15px 15px 10px;
}

.card-body {
  -webkit-flex: 1 1 auto;
  flex: 1 1 auto;
  min-height: 1px;
  padding: 1.25rem;
}

///card
