.main-panel, .sidebar, .sidebar-wrapper {
  @media (min-width: 991px) {
    transition-property: top, bottom, width;
    transition-duration: .2s, .2s, .35s;
    transition-timing-function: linear, linear, ease;
    -webkit-overflow-scrolling: touch;
  }
}

.main-panel {
  position: relative;
  float: right;
  background-color: #f4f3ef;
  transition: all .5s cubic-bezier(.685, .0473, .346, 1);
}

.main-panel {
  width: calc(100% - 260px);
}

.sidebar-mini .main-panel {
  width: calc(100% - 80px);
}

.main-panel {
  @media screen and (max-width: 991px) {
    width: 100%;
  }
}
